/* main menu link color */

.edit-navbar-nav li a {
    padding: 14px 14px;
}

.dropdown-menu  li  a {
    padding: 3px 20px;
}
.edit-navbar-nav a:hover {
    background: #9a1e1e !important;
    color: #FFFFFF !important;
}

#main-menu ul li a {
	color: #fff;
}

#main-menu ul li ul li a {
	color: #333;
}

#main-menu ul li ul li a:hover {
	color: #fff;
}


.edit-navbar-collapse {
    border-top: 0px solid #e7f1f0 !important;
    border-left: 0px solid #ddd !important;
    border-right: 0px solid #ddd !important;
    border-bottom: 0px solid #c1c1c1 !important;
}

.edit-navbar-collapse-2nd {
    width: 100% !important;
    margin: 0 auto !important;
    border-color: #c0c0c0 !important;
    background: #fff !important;
    border-bottom: 1px #dddddd solid !important;
	border-top: 0px solid #c0c0c0 !important;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.05);
} 

/* toggle button */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -1px !important;
    margin-right: 20px;
    margin-bottom: 0px !important;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent !important;
    border-radius: 4px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #333 !important;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px !important;
}


/* WIDGET  */

#lastest-post {
	background-color: #f0f0ed;
    color: rgb(2, 2, 2);
    position: relative;
    border-bottom: 0.1px solid #ccc;
    overflow: hidden;
    margin-bottom: 10px;
    /*overflow-y: scroll;*/
    /*max-height: 552px; */
	padding: 6px;
}

#lastest-post ul {
	margin-bottom: 0px;
}

#lastest-post ul li {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    padding: 5px;
}

#lastest-post ul li a { color: #555;  font-size: 14px !important;}
.widgetwrap ul li:last-child {
    padding: 6px;
}



.widget-title {
   border-bottom: 2px solid #f44336;
   margin-bottom: 5px;
}

.widget-title span {
    background-color: #f44336;
	float: left;
    padding: 7px 20px;
    font-size: 16px;
    color: #fff;
}

